.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(1rem / -2);
  margin-right: calc(1rem / -2);
}

.col {
  box-sizing: border-box;
  min-width: 0;
  padding-left: calc(1rem / 2);
  padding-right: calc(1rem / 2);
}

@media (max-width: calc(48rem - 0.02px)) and (orientation: portrait) {
  .row-phone > .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: calc(48rem - 0.02px)) and (orientation: landscape) {
  .row-phone > .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 48rem) and (max-width: calc(64rem - 0.02px)) and (orientation: portrait) {
  .row-tablet > .col {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
@media (min-width: 48rem) and (max-width: calc(64rem - 0.02px)) and (orientation: landscape) {
  .row-tablet > .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.col-span-auto {
  flex: 1 1 0;
  max-width: 100%;
}

.col-span-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-span-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-span-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-span-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-span-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-span-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-span-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-span-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-span-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-span-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-span-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-span-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
