@mixin button-reset {
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

